middleware
./temp
./data
./dist
./src/__pycache__
./src/api/__pycache__
./src/middleware_manager.py
./src/middlewares/__pycache__
./src/middlewares/*.pyc
./src/middlewares/*.so
./src/middlewares/*.dylib
./src/middlewares/*.dll
./src/middlewares/*.exe
./src/middlewares/*.bat
./src/middlewares/*.sh
./src/middlewares/*.cmd
./src/middlewares/*.ps1
./src/middlewares/*.jar
./src/middlewares/*.war
./src/middlewares/*.ear
./src/middlewares/*.zip
./src/middlewares/*.tar.gz
./src/middlewares/*.tar.bz2
./src/middlewares/*.tar.xz
./src/middlewares/*.tar
./src/middlewares/*.7z
./src/middlewares/*.rar
./src/middlewares/*.gz
./src/middlewares/*.bz2
./src/middlewares/*.xz
./src/middlewares/*.deb
./src/middlewares/*.rpm
./mi